header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	flex-direction: column;
	justify-content: center
}

header .logo {
	background-image: url("../images/logo.png");
	height: 60px;
	width: 142px;
	margin: auto 0px auto 20px;
}